* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eeeeee;
    color: #444444;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    top: 0;
    position: sticky;
    display: flex;
    background-color: #00d196a0;
}

.navopt {
    border: none;
    background-color: #00000000;
    padding: 15px;
    margin: 5px;
    font-size: 200%;
}

.navopt:hover {
    background-color: #00d19650;
    padding: 13px;
    border: 2px solid #00d196a0;
}
#pic1 {
    background-image: url(imgs/cube.jpeg);
}
#pic2 {
    background-image: url(imgs/sphere.jpeg);
}
#pic3 {
    background-image: url(imgs/tetra.jpeg);
}
.parallax {
    min-height: 1000px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.project {
    background-color: #70d2e410;
    padding: 10px;
    margin: 15px;
    border: 3px solid #70d2e440;
}

.project > h1 {
    font-weight: 600;
}

.github-link {
    /* float: left; */
    padding: 5px;
    padding-right: 0;
    /* border: solid black 5px; */
}

.github-link img {
    float: right;
    vertical-align: -70%;
    margin-top: 10px;
    padding: 10px;
    background-color: #00000011;
    border: solid #00000088 3px;
}
