* {
    box-sizing: border-box;
}

body {
   margin: 0;
}

.navbar {
    display: flex;
    background-color: #00d196;
}

.navopt {
    padding: 15px;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
}

.navopt:hover {
    background-color: #009269;
}
